@page "/"
@using DocumentFormat.OpenXml.Packaging;
@using DocumentFormat.OpenXml.Wordprocessing;
@using DocumentFormat.OpenXml;
@using System.Text;
@using System.IO
@inject IJSRuntime JS

<PageTitle>Index</PageTitle>

Select your Docx file. File is processed locally and remains private.

<InputFile OnChange="@LoadFiles" multiple accept='.docx' />

<p> @status</p>
<p> @text </p>

@code {
    private string[] files = new string[] { "none selected" };
    private string status = "";

    private string text = "";

    private async Task LoadFiles(InputFileChangeEventArgs e)
    {
        status += "\nChanged";
        try
        {
            var buffer = new byte[4096];
            foreach (IBrowserFile file in e.GetMultipleFiles(e.FileCount))
            {
                status += "\nReading file: " + file.Name;
                _ = InvokeAsync(StateHasChanged);

                var fileStream = new MemoryStream();
                await file.OpenReadStream(maxAllowedSize: long.MaxValue).CopyToAsync(fileStream);

                WordprocessingDocument wordDoc = WordprocessingDocument.Open(fileStream, false);
                DocumentFormat.OpenXml.Wordprocessing.Body body
                = wordDoc.MainDocumentPart.Document.Body;

                // so here we need to do something clever with the body and turn it into 
                // markdown. We probably need to return a zip file with images and such.

                var totaltext = body.InnerText;
                text += totaltext;

                var mdStream = new MemoryStream(Encoding.UTF8.GetBytes(text ?? string.Empty));
                using var streamRef = new DotNetStreamReference(stream: mdStream);
                await JS.InvokeVoidAsync("downloadFileFromStream", file.Name + ".md", streamRef);
            }
            status = "done";
        }
        catch (Exception ex)
        {
            status += "\nError: " + ex.Message;
            _ = InvokeAsync(StateHasChanged);
        }
        var memoryStream = new MemoryStream();
    }
}
